@model IEnumerable<CrestCouriers_Career.Models.Account>

@{
    ViewData["Title"] = "AdminAccounts";
    Layout = "~/Views/Shared/_SystemAdmin.cshtml";
}

@{
    ViewData["Id"] = "";
}

@section AdminMenu{
    <ul class="menu-ul">
        <a asp-controller="Admin" asp-action="Dashboard" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Dashboard</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Order" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Order</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="AdminSetting" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Admin setting</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="AdminAccounts" class="menu-option-link">
            <div class="panel-option-active">
                <li><h5>Admin accounts</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="UserAccounts" class="menu-option-link">
            <div class="panel-option">
                <li><h5>User accounts</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Articles" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Articles</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Logout" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Logout</h5></li>
            </div>
        </a>
    </ul>
}

<div class="NewAdmin-form" style="margin:100px;">

    <form asp-controller="Admin" asp-action="AdminAccounts" method="post">

        <div class="row">

            <div class="col-sm-6">
                <input name="UserName" class="" placeholder="Username">
                <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
            </div>

            <div class="col-sm-6">
                <input name="EmailAddress" placeholder="Email">
            </div>


        </div>

        <div class="row">

            <div class="col-sm-6">
                <div class="order-input">
                    <input type="password" name="Password" placeholder="Password">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="order-input">
                    <input type="password" name="ConfirmPassword" placeholder="Confirm password">
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-6">
                <div class="order-input">
                    <input name="Firstname" placeholder="First Name">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="order-input">
                    <input name="Lastname" placeholder="Surname">
                </div>
            </div>

            <input name="MyType" id="MyType" hidden />

        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="order-input">
                    <div class="dropdown" style="float:left">
                        <button placeholder="Type" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin Type
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button class="dropdown-item" type="button" id="Limited" onclick="SetType('Limited Admin');">Limited Admin</button>
                            <button class="dropdown-item" type="button" id="Accountancy" onclick="SetType('Accountancy');">Accountancy</button>
                            <button class="dropdown-item" type="button" id="Secretary" onclick="SetType('Secretary');">Secretary</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <div class="row">

            <div class="col-sm-12">
                <div class="input-submit">
                    <button id="" type="submit" class="book-now-btn" style="color:white; padding-top:14px;" name="button" data-toggle="modal" data-target=".confirmbox-new-order" asp-route-MyType="MyType" asp-route-UserName="UserName" asp-route-Password="Password" asp-route-FirstName="FirstName" asp-route-LastName="LastName" asp-route-PhoneNumber="PhoneNumber" asp-route-EmailAddress="EmailAddress"><h5>submit new admin</h5></button>
                </div>
            </div>

        </div>

    </form>

</div>



<div class="list-title">
    <div class="admin-list-title-item">
        <h6 class="list-title-item-text">
            Username
        </h6>
    </div>

    <div class="admin-list-title-item">
        <h6 class="list-title-item-text">
            Firstname
        </h6>
    </div>

    <div class="admin-list-title-item">
        <h6 class="list-title-item-text">
            Lastname
        </h6>
    </div>

    <div class="admin-list-title-item">
        <h6 class="list-title-item-text">
            AdminStatus
        </h6>
    </div>

    <div class="admin-list-title-item">
        <h6 class="list-title-item-text">
            Level
        </h6>
    </div>

</div>

<hr style="width:90%; border-color:red;">
@foreach (var item in Model)
{

    <div class="list-order">

        <div class="admin-list-title-item">
            <p>
                @Html.DisplayFor(modelItem => item.UserName)
            </p>
        </div>

        <div class="admin-list-title-item">
            <p>
                @Html.DisplayFor(modelItem => item.FirstName)
            </p>
        </div>

        <div class="admin-list-title-item">
            <p>
                @Html.DisplayFor(modelItem => item.LastName)
            </p>
        </div>

        <div class="admin-list-title-item">

            @if (item.IsActive == true)
            {
                <p>Active</p>
            }
            else if (item.IsActive == false)
            {
                <p>Deactive</p>
            }

        </div>

        <div class="admin-list-title-item">

            @if (item.AdminType == "Admin")
            {
                <p>Admin</p>
            }
            else if (item.AdminType == "Limited Admin")
            {
                <p>Limited Admin</p>
            }
            else if (item.AdminType == "Accountancy")
            {
                <p>Accountancy</p>
            }
            else if (item.AdminType == "Secretary")
            {
                <p>Secretary</p>
            }

        </div>

        @if (item.AdminType == "Limited Admin")
        {
            <div class="list-record-button" data-toggle="modal" data-target=".confirmbox-delete" onclick="getDeleteId('@item.Id');">
                <button type="submit" style="background-color: transparent; border: none;">
                    <img src="~/img/System/remove.png" width="35px" height="35px" alt="">
                </button>
            </div>

            <div class="list-record-button" data-toggle="modal" data-target=".confirmbox" onclick="getUpdateId('@item.Id', '@item.UserName', '@item.FirstName', '@item.LastName', '@item.AdminType')">
                <button style="background-color: transparent; border: none;">
                    <img src="~/img/System/edit.png" width="35px" height="35px" alt="">
                </button>
            </div>

            <div class="list-record-button" data-toggle="modal" data-target=".confirmbox-deactive" onclick="getId('@item.Id')">
                <button style="background-color: transparent; border: none;">
                    <img src="~/img/System/deactive.png" width="35px" height="35px" alt="">
                </button>
            </div>
        }
        else if (item.AdminType == "Accountancy")
        {
            <div class="list-record-button" data-toggle="modal" data-target=".confirmbox-delete" onclick="getDeleteId('@item.Id');">
                <button type="submit" style="background-color: transparent; border: none;">
                    <img src="~/img/System/remove.png" width="35px" height="35px" alt="">
                </button>
            </div>

            <div class="list-record-button" data-toggle="modal" data-target=".confirmbox" onclick="getUpdateId('@item.Id', '@item.UserName', '@item.FirstName', '@item.LastName', '@item.AdminType')">
                <button style="background-color: transparent; border: none;">
                    <img src="~/img/System/edit.png" width="35px" height="35px" alt="">
                </button>
            </div>

            <div class="list-record-button" data-toggle="modal" data-target=".confirmbox-deactive" onclick="getId('@item.Id')">
                <button style="background-color: transparent; border: none;">
                    <img src="~/img/System/deactive.png" width="35px" height="35px" alt="">
                </button>
            </div>
        }
        else if (item.AdminType == "Secretary")
        {
            <div class="list-record-button" data-toggle="modal" data-target=".confirmbox-delete" onclick="getDeleteId('@item.Id');">
                <button type="submit" style="background-color: transparent; border: none;">
                    <img src="~/img/System/remove.png" width="35px" height="35px" alt="">
                </button>
            </div>

            <div class="list-record-button" data-toggle="modal" data-target=".confirmbox" onclick="getUpdateId('@item.Id', '@item.UserName', '@item.FirstName', '@item.LastName', '@item.AdminType');">
                <button style="background-color: transparent; border: none;">
                    <img src="~/img/System/edit.png" width="35px" height="35px" alt="">
                </button>
            </div>

            <div class="list-record-button" data-toggle="modal" data-target=".confirmbox-deactive" onclick="getId('@item.Id');">
                <button style="background-color: transparent; border: none;">
                    <img src="~/img/System/deactive.png" width="35px" height="35px" alt="">
                </button>
            </div>
        }
        else if (item.AdminType == "Admin")
        {
            <div class="list-record-button">

                <img src="~/img/System/remove-disable.png" width="35px" height="35px" alt="">

            </div>

            <div class="list-record-button">

                <img src="~/img/System/edit-disable.png" width="35px" height="35px" alt="">

            </div>

            <div class="list-record-button">

                <img src="~/img/System/deactive-disable.png" width="35px" height="35px" alt="">

            </div>
        }

    </div>

    <div id="confirmbox-delete" class="modal fade confirmbox-delete">
        <div class="modal-dialog">
            <div class="modal-content" style="width:600px; padding:0px;">

                <div class="modal-header" style="border-bottom-color:red;">
                    <h2 class="update-box-header">Delete admin</h2>
                </div>

                <div class="modal-body">




                    <div class="popup-admin-deactive">

                        <div class="NewOrder-form">

                            <div class="row">

                                <div class="col-sm-12">
                                    <div class="order-input">
                                        <p>Are you sure? You realy want to delete this account?</p>
                                    </div>
                                </div>

                            </div>

                            <form method="post">
                                <input name="DeleteId" id="DeleteId" hidden />

                                <div class="row">

                                    <div class="col-sm-6">
                                        <div class="input-submit">
                                            <button type="submit" class="book-now-btn" style="color:white; padding-top:14px; float:right;" name="button" asp-controller="Admin" asp-action="SystemUserDelete" asp-route-DeleteId="DeleteId" asp-route-returnUrl="AdminAccounts"><h5>Delete</h5></button>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="input-submit">
                                            <button type="button" class="book-now-btn" style="color:white; padding-top:14px; float:left;" name="button" onclick="CloseDelete()"><h5>Cancel</h5></button>
                                        </div>
                                    </div>

                                </div>

                            </form>

                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>

    <div id="confirmbox" class="modal fade confirmbox">
        <div class="modal-dialog">
            <div class="modal-content" style="width:600px; padding:0px;">

                <div class="modal-header" style="border-bottom-color:red;">
                    <h2 class="update-box-header">Change admin information</h2>
                </div>

                <div class="modal-body">


                    <form method="post">

                        <input name="UpdateId" id="UpdateId" hidden />

                        <div class="popup-admin-update">

                            <div class="NewOrder-form">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="order-input">
                                            <input type="text" class="" id="UpdatedUserName" name="UpdatedUserName" placeholder="Username">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="order-input">
                                            <input type="text" class="" id="UpdatedFirstName" name="UpdatedFirstName" placeholder="Firstname">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="order-input">
                                            <input type="text" class="" id="UpdatedLastName" name="UpdatedLastName" placeholder="Lastname">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="order-input">
                                            <input type="text" class="" id="UpdatedAdminType" name="UpdatedAdminType" placeholder="Level">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-sm-12">
                                        <div class="input-submit">
                                            <button type="submit" class="book-now-btn" style="color:white; padding-top:14px;" name="button" asp-controller="Admin" asp-action="AdminAccountEdit" asp-route-UpdateId="UpdateId" asp-route-UpdatedUserName="UpdatedUserName" asp-route-UpdatedFirstname="UpdatedFirstName" asp-route-UpdatedLastName="UpdatedLastName" asp-route-UpdatedAdminType="UpdatedAdminType"><h5>Update</h5></button>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </form>

                </div>


            </div>
        </div>
    </div>

    <div id="confirmbox-deactive" class="modal fade confirmbox-deactive">
        <div class="modal-dialog">
            <div class="modal-content" style="width:600px; padding:0px;">

                <div class="modal-header" style="border-bottom-color:red;">
                    <h2 class="update-box-header">Admin status</h2>
                </div>

                <div class="modal-body">




                    <div class="popup-admin-deactive">

                        <div class="NewOrder-form">

                            <div class="row">

                                <div class="col-sm-12">
                                    <div class="order-input">
                                        <p>Are you sure? You realy want to deactive this account?</p>
                                    </div>
                                </div>

                            </div>

                            <form method="post">
                                <div class="row">

                                    <div class="col-sm-6">
                                        <div class="input-submit">

                                            <input name="AdminId" id="AdminId" hidden />
                                            <button type="submit" class="book-now-btn" style="color:white; padding-top:14px; float:right;" name="button" asp-controller="Admin" asp-action="AdminAccountActive" asp-route-AdminId="AdminId"><h5>Change</h5></button>

                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="input-submit">
                                            <button type="button" class="book-now-btn" style="color:white; padding-top:14px; float:left;" name="button" onclick="CloseDeactive()"><h5>Cancel</h5></button>
                                        </div>
                                    </div>

                                </div>
                            </form>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

}

@*<script type="text/javascript">

        function SetType(AdminType) {
            var T = AdminType;
            document.getElementById("dropdownMenuButton").innerHTML = T;
            document.getElementById("MyType").value = T;
        }
        function GetType() {
            var T = document.getElementById("dropdownMenuButton").value;
            return T;
        }

        function OpenDeactive(id) {

            @ViewData["AccountId"] = system.convert.toint32(id);
            $("#confirmbox-deactive").modal();

        }

        $('button').attr('asp-route-AdminType', document.getElementById("dropdownMenuButton").value);
    </script>*@

<script>

    function SetLimited() {
        AdminType = "Limited";
    }
    function SetAccountancy() {
        AdminType = "Accountancy";
    }
    function SetSecretary() {
        AdminType = "Secretary";
    }
    function GetType() {
        document.getElementById("MyType").innerHTML = AdminType;
    }
    function SetType(Type) {
        document.getElementById("MyType").value = Type;
        document.getElementById("dropdownMenuButton").innerHTML = Type;
    }

</script>



<script type="text/javascript">

    function getId(AdminId) {

        document.getElementById('AdminId').value = AdminId;

    }

    function CloseDeactive() {

        $('#confirmbox-deactive').modal('hide');

    }

</script>

<script type="text/javascript">

    function getDeleteId(Id) {

        document.getElementById("DeleteId").value = Id;

    }

    function CloseDelete() {

        $('#confirmbox-delete').modal('hide');

    }

</script>

<script type="text/javascript">

    function getUpdateId(Id, Username, Firstname, Lastname, AdminType) {

        document.getElementById("UpdateId").value = Id;
        document.getElementById("UpdatedUserName").value = Username;
        document.getElementById("UpdatedFirstName").value = Firstname;
        document.getElementById("UpdatedLastName").value = Lastname;
        document.getElementById("UpdatedAdminType").value = AdminType;

    }

</script>

