@model IEnumerable<CrestCouriers_Career.Models.Admin>

@{
    ViewData["Title"] = "AdminAccounts";
    Layout = "~/Views/Shared/_SystemAdmin.cshtml";
}

@section AdminMenu{
    <ul class="menu-ul">
        <a asp-controller="Admin" asp-action="Dashboard" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Dashboard</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Order" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Order</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="AdminSetting" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Admin setting</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="AdminAccounts" class="menu-option-link">
            <div class="panel-option-active">
                <li><h5>Admin accounts</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="UserAccounts" class="menu-option-link">
            <div class="panel-option">
                <li><h5>User accounts</h5></li>
            </div>
        </a>
    </ul>
}

<div class="NewAdmin-form" style="margin:100px;">

    <form asp-controller="Admin" asp-action="AdminAccounts" method="post">

        <div class="row">

            <div class="col-sm-6">
                <input name="UserName" class="" placeholder="Username">
                <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
            </div>

            <div class="col-sm-6">
                <input name="Password" placeholder="Password">
            </div>

        </div>

        <div class="row">

            <div class="col-sm-6">
                <div class="order-input">
                    <input name="Firstname" placeholder="Firstname">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="order-input">
                    <input name="Lastname" placeholder="Lastname">
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-6">
                <div class="order-input">
                    <input name="PhoneNumber" placeholder="Phone number">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="order-input">
                    <input name="EmailAddress" placeholder="Email address">
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-12">
                <div class="input-submit">
                    <button type="submit" class="book-now-btn" style="color:white; padding-top:14px;" name="button" data-toggle="modal" data-target=".confirmbox-new-order"><h5>submit new admin</h5></button>
                </div>
            </div>

        </div>

    </form>

</div>



<div class="list-title">
    <div class="admin-list-title-item">
        <h5 class="list-title-item-text">
            Username
        </h5>
    </div>

    <div class="admin-list-title-item">
        <h5 class="list-title-item-text">
            Firstname
        </h5>
    </div>

    <div class="admin-list-title-item">
        <h5 class="list-title-item-text">
            Lastname
        </h5>
    </div>

    <div class="admin-list-title-item">
        <h5 class="list-title-item-text">
            Level
        </h5>
    </div>

</div>

<hr style="width:90%; border-color:red;">
@foreach (var item in Model)
{
    @using (Html.BeginForm("Delete", "Admin", new { id = item.Adminid }))
    {
<div class="list-order">

    <div class="admin-list-title-item">
        <p>
            @Html.DisplayFor(modelItem => item.UserName)
        </p>
    </div>

    <div class="admin-list-title-item">
        <p>
            @Html.DisplayFor(modelItem => item.FirstName)
        </p>
    </div>

    <div class="admin-list-title-item">
        <p>
            @Html.DisplayFor(modelItem => item.Lastname)
        </p>
    </div>

    <div class="admin-list-title-item">
        <p>
            @Html.DisplayFor(modelItem => item.Level)
        </p>
    </div>

    @if (item.Level == "2" || item.Level == "0")
    {
        <div class="list-record-button" data-toggle="modal" data-target=".confirmbox-delete">
            <button type="submit" style="background-color: transparent; border: none;">
                <img src="~/img/System/remove.png" width="35px" height="35px" alt="">
            </button>
        </div>

        <div class="list-record-button" data-toggle="modal" data-target=".confirmbox">
            <button style="background-color: transparent; border: none;" asp-controller="Admin" asp-action="AdminAccountEdit" asp-route-UserName="@item.UserName">
                <img src="~/img/System/edit.png" width="35px" height="35px" alt="">
            </button>
        </div>

        <div class="list-record-button" data-toggle="modal" data-target=".confirmbox-deactive">
            <button style="background-color: transparent; border: none;" asp-controller="Admin" asp-action="AdminAccountActive" asp-route-Level="@item.Level" asp-route-Adminid="@item.Adminid">
                <img src="~/img/System/deactive.png" width="35px" height="35px" alt="">
            </button>
        </div>
    }
    else if (item.Level == "1")
    {
        <div class="list-record-button">
            
                <img src="~/img/System/remove-disable.png" width="35px" height="35px" alt="">
            
        </div>

        <div class="list-record-button">

                <img src="~/img/System/edit-disable.png" width="35px" height="35px" alt="">
            
        </div>

        <div class="list-record-button">
            
                <img src="~/img/System/deactive-disable.png" width="35px" height="35px" alt="">
            
        </div>
    }

</div>
    }
}


<div id="confirmbox-delete" class="modal fade confirmbox-delete">
    <div class="modal-dialog">
        <div class="modal-content" style="width:600px; padding:0px;">

            <div class="modal-header" style="border-bottom-color:red;">
                <h2 class="update-box-header">Delete admin</h2>
            </div>

            <div class="modal-body">




                <div class="popup-admin-deactive">

                    <div class="NewOrder-form">

                        <div class="row">

                            <div class="col-sm-12">
                                <div class="order-input">
                                    <p>Are you sure? You realy want to delete this account?</p>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="input-submit">
                                    <button type="button" class="book-now-btn" style="color:white; padding-top:14px; float:right;" name="button"><h5>Delete</h5></button>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="input-submit">
                                    <button type="button" class="book-now-btn" style="color:white; padding-top:14px; float:left;" name="button"><h5>Cancel</h5></button>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>


        </div>
    </div>
</div>

<div id="confirmbox" class="modal fade confirmbox">
    <div class="modal-dialog">
        <div class="modal-content" style="width:600px; padding:0px;">

            <div class="modal-header" style="border-bottom-color:red;">
                <h2 class="update-box-header">Change admin information</h2>
            </div>

            <div class="modal-body">




                <div class="popup-admin-update">

                    <div class="NewOrder-form">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="order-input">
                                    <input type="text" class="" name="" placeholder="Username">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="order-input">
                                    <input type="text" class="" name="" placeholder="Firstname">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="order-input">
                                    <input type="text" class="" name="" placeholder="Lastname">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="order-input">
                                    <input type="text" class="" name="" placeholder="Level">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-12">
                                <div class="input-submit">
                                    <button type="button" class="book-now-btn" style="color:white; padding-top:14px;" name="button"><h5>Update</h5></button>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>


        </div>
    </div>
</div>

<div id="confirmbox-deactive" class="modal fade confirmbox-deactive">
    <div class="modal-dialog">
        <div class="modal-content" style="width:600px; padding:0px;">

            <div class="modal-header" style="border-bottom-color:red;">
                <h2 class="update-box-header">Deactive admin</h2>
            </div>

            <div class="modal-body">




                <div class="popup-admin-deactive">

                    <div class="NewOrder-form">

                        <div class="row">

                            <div class="col-sm-12">
                                <div class="order-input">
                                    <p>Are you sure? You realy want to deactive this account?</p>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="input-submit">
                                    <button type="button" class="book-now-btn" style="color:white; padding-top:14px; float:right;" name="button"><h5>Deactive</h5></button>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="input-submit">
                                    <button type="button" class="book-now-btn" style="color:white; padding-top:14px; float:left;" name="button"><h5>Cancel</h5></button>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>


        </div>
    </div>
</div>


@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Adminid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lastname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Level)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Adminid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
    }
        </tbody>
    </table>*@
