@model IEnumerable<CrestCouriers_Career.Models.Bill>

@{
    ViewData["Title"] = "Bill";
    Layout = "~/Views/Shared/_SystemAccountancyAdmin.cshtml";
}

@section AdminMenu{
    <ul class="menu-ul">
        <a asp-controller="Admin" asp-action="ListOfBills" class="menu-option-link">
            <div class="panel-option">
                <li><h5>List of bills</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Bill" class="menu-option-link">
            <div class="panel-option-active">
                <li><h5>Bill</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Bill" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Admin setting</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Logout" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Logout</h5></li>
            </div>
        </a>
    </ul>
}


<!-- New01 -->
<form class="billDashbord">
    <div class="form-group ">

        <input type="date" class="form-control" id="BillDate" aria-describedby="Date" placeholder="Date">

    </div>
    <div class="form-group">
        <input type="file" class="form-control" id="BillFile" placeholder="Drop your file here">
    </div>
    

    <button type="submit" class="btn btn-primary" id="BillButton">Submit</button>
</form>
<!-- EndOfNew01 -->
<!--<table class="table">
    <!-- <thead>
         <tr>
             <th>
                 @Html.DisplayNameFor(model => model.Date)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.DownloadDate)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.File)
                 fuck_test
             </th>
             <th></th>
         </tr>
     </thead>

    @*<tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DownloadDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.File)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BillID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.BillID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.BillID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>*@
</table>
    //-->
