@model IEnumerable<CrestCouriers_Career.Models.Account>

@{
    ViewData["Title"] = "UserAccounts";
    Layout = "~/Views/Shared/_SystemAdmin.cshtml";
}

@section AdminMenu{
    <ul class="menu-ul">
        <a asp-controller="Admin" asp-action="Dashboard" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Dashboard</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Order" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Order</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="AdminSetting" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Admin setting</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="AdminAccounts" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Admin accounts</h5></li>
            </div>
        </a>
        <a asp-controller="User" asp-action="UserAccounts" class="menu-option-link">
            <div class="panel-option-active">
                <li><h5>User accounts</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Logout" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Logout</h5></li>
            </div>
        </a>
    </ul>
}

<div class="list-title">
    <div class="user-list-title-item">
        <h6 class="list-title-item-text">
            Username
        </h6>
    </div>

    <div class="user-list-title-item">
        <h6 class="list-title-item-text">
            First name
        </h6>
    </div>

    <div class="user-list-title-item">
        <h6 class="list-title-item-text">
            Last name
        </h6>
    </div>

    <div class="user-list-title-item">
        <h6 class="list-title-item-text">
            Phone number
        </h6>
    </div>

    <div class="user-list-title-item">
        <h6 class="list-title-item-text">
            Email address
        </h6>
    </div>

    <div class="user-list-title-item">
        <h6 class="list-title-item-text">
            Active
        </h6>
    </div>
</div>

<hr style="width:90%; border-color:red;">

@foreach (var item in Model)
{


<div class="list-order">

    <div class="user-list-title-item">
        <p>
            @Html.DisplayFor(modelItem => item.UserName)
        </p>
    </div>

    <div class="user-list-title-item">
        <p>
            @Html.DisplayFor(modelItem => item.FirstName)
        </p>
    </div>

    <div class="user-list-title-item">
        <p>
            @Html.DisplayFor(modelItem => item.LastName)
        </p>
    </div>

    <div class="user-list-title-item">
        <p>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </p>
    </div>

    <div class="user-list-title-item">
        <p>
            @Html.DisplayFor(modelItem => item.Email)
        </p>
    </div>

    <div class="user-list-title-item">
        <p>
            @Html.DisplayFor(modelItem => item.IsActive)
        </p>
    </div>


        @*data-toggle="modal" data-target=".confirmbox-delete"*@
        <div class="list-record-button" data-toggle="modal" data-target=".confirmbox-delete" onclick="getDeleteId('@item.Id')">
            <button style="background-color:transparent; border:none;"><img src="~/img/System/remove.png" width="35px" height="35px" alt=""></button>
        </div>

        <div class="list-record-button">
            <button asp-controller="Admin" asp-action="SystemUserEdit" asp-route-id="@item.Id" style="background-color:transparent; border:none;">
                <img src="~/img/System/edit.png" width="35px" height="35px" alt="">
            </button>
        </div>

        <div class="list-record-button" data-toggle="modal" data-target=".confirmbox-deactive" onclick="getId('@item.Id')">
            <button style="background-color: transparent; border: none;">
                <img src="~/img/System/deactive.png" width="35px" height="35px" alt="">
            </button>
        </div>

</div>


}



<div id="confirmbox" class="modal fade confirmbox">
    <div class="modal-dialog">
        <div class="modal-content" style="width:600px; padding:0px;">

            <div class="modal-header" style="border-bottom-color:red;">
                <h2 class="update-box-header">Change user account</h2>
            </div>

            <div class="modal-body">




                <div class="popup-user-update">

                    <div class="NewOrder-form">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="order-input">
                                    <input type="text" class="" name="" placeholder="UserName">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="order-input">
                                    <input type="text" class="" name="" placeholder="First Name">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="order-input">
                                    <input type="text" class="" name="" placeholder="Surname">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="order-input">
                                    <input type="text" class="" name="" placeholder="Phone number">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="order-input">
                                    <input type="text" class="" name="" placeholder="Emailaddress">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="order-input">
                                    <input type="text" class="" name="" placeholder="Active">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-12">
                                <div class="input-submit">
                                    <button type="button" class="book-now-btn" style="color:white; padding-top:14px;" name="button"><h5>Update</h5></button>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>


        </div>
    </div>
</div>


<div id="confirmbox-delete" class="modal fade confirmbox-delete">
    <div class="modal-dialog">
        <div class="modal-content" style="width:600px; padding:0px;">

            <div class="modal-header" style="border-bottom-color:red;">
                <h2 class="update-box-header">Delete admin</h2>
            </div>

            <div class="modal-body">




                <div class="popup-admin-deactive">

                    <div class="NewOrder-form">

                        <div class="row">

                            <div class="col-sm-12">
                                <div class="order-input">
                                    <p>Are you sure? You realy want to delete this account?</p>
                                </div>
                            </div>

                        </div>

                        <form method="post">
                            <input name="DeleteId" id="DeleteId" hidden />

                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="input-submit">
                                        <button type="submit" class="book-now-btn" style="color:white; padding-top:14px; float:right;" name="button" asp-controller="Admin" asp-action="SystemUserDelete" asp-route-DeleteId="DeleteId" asp-route-returnUrl="UserAccounts"><h5>Delete</h5></button>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="input-submit">
                                        <button type="button" class="book-now-btn" style="color:white; padding-top:14px; float:left;" name="button" onclick="CloseDelete()"><h5>Cancel</h5></button>
                                    </div>
                                </div>

                            </div>

                        </form>

                    </div>

                </div>

            </div>


        </div>
    </div>
</div>


<div id="confirmbox-deactive" class="modal fade confirmbox-deactive">
    <div class="modal-dialog">
        <div class="modal-content" style="width:600px; padding:0px;">

            <div class="modal-header" style="border-bottom-color:red;">
                <h2 class="update-box-header">Admin status</h2>
            </div>

            <div class="modal-body">




                <div class="popup-admin-deactive">

                    <div class="NewOrder-form">

                        <div class="row">

                            <div class="col-sm-12">
                                <div class="order-input">
                                    <p>Are you sure? You realy want to deactive this account?</p>
                                </div>
                            </div>

                        </div>

                        <form method="post">
                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="input-submit">

                                        <input name="AdminId" id="AdminId" />
                                        <button type="submit" class="book-now-btn" style="color:white; padding-top:14px; float:right;" name="button" asp-controller="Admin" asp-action="UserAccountActive" asp-route-Userid="AdminId"><h5>Change</h5></button>

                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="input-submit">
                                        <button type="button" class="book-now-btn" style="color:white; padding-top:14px; float:left;" name="button" onclick="CloseDeactive()"><h5>Cancel</h5></button>
                                    </div>
                                </div>

                            </div>
                        </form>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    function getDeleteId(Id) {

        document.getElementById("DeleteId").value = Id;

    }

    function CloseDelete() {

        $('#confirmbox-delete').modal('hide');

    }

</script>

<script type="text/javascript">

    function getId(AdminId) {

        document.getElementById('AdminId').value = AdminId;

    }

    function CloseDeactive() {

        $('#confirmbox-deactive').modal('hide');

    }

</script>