@model IEnumerable<CrestCouriers_Career.Models.Account>

@{
    ViewData["Title"] = "UserAccounts";
    Layout = "~/Views/Shared/_SystemAdmin.cshtml";
}

@section AdminMenu{
    <ul class="menu-ul">
        <a asp-controller="Admin" asp-action="Dashboard" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Dashboard</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Order" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Order</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="AdminSetting" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Admin setting</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="AdminAccounts" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Admin accounts</h5></li>
            </div>
        </a>
        <a asp-controller="User" asp-action="UserAccounts" class="menu-option-link">
            <div class="panel-option-active">
                <li><h5>User accounts</h5></li>
            </div>
        </a>
        <a asp-controller="Admin" asp-action="Logout" class="menu-option-link">
            <div class="panel-option">
                <li><h5>Logout</h5></li>
            </div>
        </a>
    </ul>
}

<div class="list-title">
    <div class="user-list-title-item">
        <h6 class="list-title-item-text">
            Username
        </h6>
    </div>

    <div class="user-list-title-item">
        <h6 class="list-title-item-text">
            First name
        </h6>
    </div>

    <div class="user-list-title-item">
        <h6 class="list-title-item-text">
            Last name
        </h6>
    </div>

    <div class="user-list-title-item">
        <h6 class="list-title-item-text">
            Phone number
        </h6>
    </div>

    <div class="user-list-title-item">
        <h6 class="list-title-item-text">
            Email address
        </h6>
    </div>

    <div class="user-list-title-item">
        <h6 class="list-title-item-text">
            Active
        </h6>
    </div>
</div>

<hr style="width:90%; border-color:red;">

@foreach (var item in Model)
{
    using (Html.BeginForm("Delete", "Admin", new { id = item.Id }))
    {

<div class="list-order">

    <div class="user-list-title-item">
        <p>
            @Html.DisplayFor(modelItem => item.UserName)
        </p>
    </div>

    <div class="user-list-title-item">
        <p>
            @Html.DisplayFor(modelItem => item.FirstName)
        </p>
    </div>

    <div class="user-list-title-item">
        <p>
            @Html.DisplayFor(modelItem => item.LastName)
        </p>
    </div>

    <div class="user-list-title-item">
        <p>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </p>
    </div>

    <div class="user-list-title-item">
        <p>
            @Html.DisplayFor(modelItem => item.Email)
        </p>
    </div>

    <div class="user-list-title-item">
        <p>
            @Html.DisplayFor(modelItem => item.IsActive)
        </p>
    </div>


    @*data-toggle="modal" data-target=".confirmbox-delete"*@
    <div class="list-record-button">
        <button type="submit" style="background-color:transparent; border:none;" asp-controller="Admin" asp-action="SystemUserDelete" asp-route-id="@item.Id"><img src="~/img/System/remove.png" width="35px" height="35px" alt=""></button>
    </div>

    <div class="list-record-button" @*data-toggle="modal" data-target=".confirmbox"*@ @*onclick="getValues('@item.Id','@item.UserName','@item.FirstName','@item.LastName','@item.PhoneNumber','@item.Email')"*@>
        <button asp-controller="Admin" asp-action="SystemUserEdit" asp-route-id="@item.Id" style="background-color:transparent; border:none;">
            <img src="~/img/System/edit.png" width="35px" height="35px" alt="">
        </button>
    </div>
    
    <div class="list-record-button" data-toggle="modal" data-target=".confirmbox-deactive">
        <button style="background-color: transparent; border: none;" asp-controller="Admin" asp-action="UserAccountActive" asp-route-Userid="@item.Id">
            <img src="~/img/System/deactive.png" width="35px" height="35px" alt="">
        </button>
    </div>
</div>

    }
}


<div id="confirmbox-delete" class="modal fade confirmbox-delete">
    <div class="modal-dialog">
        <div class="modal-content" style="width:600px; padding:0px;">

            <div class="modal-header" style="border-bottom-color:red;">
                <h2 class="update-box-header">Delete user</h2>
            </div>

            <div class="modal-body">




                <div class="popup-admin-deactive">

                    <div class="NewOrder-form">

                        <div class="row">

                            <div class="col-sm-12">
                                <div class="order-input">
                                    <p>Are you sure? You realy want to delete this user account?</p>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="input-submit">
                                    <button type="button" class="book-now-btn" style="color:white; padding-top:14px; float:right;" name="button"><h5>Delete</h5></button>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="input-submit">
                                    <button type="button" class="book-now-btn" style="color:white; padding-top:14px; float:left;" name="button"><h5>Cancel</h5></button>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>


        </div>
    </div>
</div>

<div id="confirmbox" class="modal fade confirmbox">
    <div class="modal-dialog">
        <div class="modal-content" style="width:600px; padding:0px;">

            <div class="modal-header" style="border-bottom-color:red;">
                <h2 class="update-box-header">Change user account</h2>
            </div>

            <div class="modal-body">




                <div class="popup-user-update">

                    <div class="NewOrder-form">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="order-input">
                                    <input type="text" class="" name="" placeholder="UserName">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="order-input">
                                    <input type="text" class="" name="" placeholder="First Name">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="order-input">
                                    <input type="text" class="" name="" placeholder="Surname">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="order-input">
                                    <input type="text" class="" name="" placeholder="Phone number">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="order-input">
                                    <input type="text" class="" name="" placeholder="Emailaddress">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="order-input">
                                    <input type="text" class="" name="" placeholder="Active">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-12">
                                <div class="input-submit">
                                    <button type="button" class="book-now-btn" style="color:white; padding-top:14px;" name="button"><h5>Update</h5></button>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>


        </div>
    </div>
</div>



@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Userid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Userid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
