@model IEnumerable<CrestCouriers_Career.Models.Order>

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_System.cshtml";
}

<div class="list-title">
    <div class="list-title-item">
        <h5 class="list-title-item-text">
            Order date
        </h5>
    </div>

    <div class="list-title-item">
        <h5 class="list-title-item-text">
            Origin
        </h5>
    </div>

    <div class="list-title-item">
        <h5 class="list-title-item-text">
            Destination
        </h5>
    </div>

    <div class="list-title-item">
        <h5 class="list-title-item-text">
            ReceiveDate
        </h5>
    </div>

    <div class="list-title-item">
        <h5 class="list-title-item-text">
            DeliveryDate
        </h5>
    </div>

    <div class="list-title-item">
        <h5 class="list-title-item-text">
            CarType
        </h5>
    </div>

    <div class="list-title-item">
        <h5 class="list-title-item-text">
            Userid
        </h5>
    </div>

    <div class="list-title-item">
        <h5 class="list-title-item-text">
            Price
        </h5>
    </div>

    <div class="list-title-item">
        <h5 class="list-title-item-text">
            State
        </h5>
    </div>
</div>

<hr style="width:90%; border-color:red;">

@foreach (var item in Model)
{
    using (Html.BeginForm("Delete", "User", new { id = item.Orderid }))
    {
        <div class="list-order">

            <div class="list-title-item">
                <p>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </p>
            </div>

            <div class="list-title-item">
                <p>
                    @Html.DisplayFor(modelItem => item.Origin)
                </p>
            </div>

            <div class="list-title-item">
                <p>
                    @Html.DisplayFor(modelItem => item.Destination)
                </p>
            </div>

            <div class="list-title-item">
                <p>
                    @Html.DisplayFor(modelItem => item.ReceiveDate)
                </p>
            </div>

            <div class="list-title-item">
                <p>
                    @Html.DisplayFor(modelItem => item.DeliveryDate)
                </p>
            </div>

            <div class="list-title-item">
                <p>
                    @Html.DisplayFor(modelItem => item.CarType)
                </p>
            </div>

            <div class="list-title-item">
                <p>
                    @Html.DisplayFor(modelItem => item.UserId)
                </p>
            </div>

            <div class="list-title-item">
                <p>
                    @Html.DisplayFor(modelItem => item.Price)
                </p>
            </div>

            <div class="list-title-item">
                <p>
                    @Html.DisplayFor(modelItem => item.State)
                </p>
            </div>

            <div class="list-record-button" data-toggle="modal" data-target=".confirmbox-delete">
                <img src="~/img/System/remove.png" width="35px" height="35px" alt="">
            </div>

            <div class="list-record-button" data-toggle="modal" data-target=".confirmbox">
                <img src="~/img/System/edit.png" width="35px" height="35px" alt="">
            </div>

        </div>


        <div id="confirmbox-delete" class="modal fade confirmbox-delete">
            <div class="modal-dialog">
                <div class="modal-content" style="width:600px; padding:0px;">

                    <div class="modal-header" style="border-bottom-color:red;">
                        <h2 class="update-box-header">Delete order</h2>
                    </div>

                    <div class="modal-body">




                        <div class="popup-admin-deactive">

                            <div class="NewOrder-form">

                                <div class="row">

                                    <div class="col-sm-12">
                                        <div class="order-input">
                                            <p>Are you sure? You realy want to delete this order?</p>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-sm-6">
                                        <div class="input-submit">
                                            <button type="submit" class="book-now-btn" style="color:white; padding-top:14px; float:right;" name="button"><h5>Delete</h5></button>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="input-submit">
                                            <button type="button" class="book-now-btn" style="color:white; padding-top:14px; float:left;" name="button"><h5>Cancel</h5></button>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>


                </div>
            </div>
        </div>

        <div id="confirmbox" class="modal fade confirmbox">
            <div class="modal-dialog">
                <div class="modal-content" style="width:600px; padding:0px;">

                    <div class="modal-header" style="border-bottom-color:red;">
                        <h2 class="update-box-header">Change order</h2>
                    </div>

                    <div class="modal-body">

                        <div class="popup-order-update">

                            <div class="NewOrder-form">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="order-input">
                                            <input type="text" class="" name="" placeholder="Origin">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="order-input">
                                            <input type="text" class="" name="" placeholder="Destination">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="order-input">
                                            <input type="text" class="" name="" placeholder="Receive date">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="order-input">
                                            <input type="text" class="" name="" placeholder="Delivery date">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="order-input">
                                            <input type="text" class="" name="" placeholder="Car type">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="Subject" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-sm-12">
                                        <div class="input-submit">
                                            <button type="button" class="book-now-btn" style="color:white; padding-top:14px;" name="button"><h5>Update</h5></button>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>


                </div>
            </div>
        </div>


    }
}





