@model PaginatedList<Article>


@{
    Layout = "_Layout";
    ViewData["Title"] = "Blog";
}

@section Menu{
    <div class="col-lg-8 d-none d-xl-block" style="-ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%">
        <nav class="mainmenu alignright">
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>

                </li>
                <li><a asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-controller="Home" asp-action="Services">services</a></li>
                <li><a asp-controller="Home" asp-action="Branches">Branches</a></li>
                <li class="active"><a asp-controller="Home" asp-action="Blog">Blog</a></li>
                <li><a asp-controller="Home" asp-action="Careertype">Careers</a></li>
                <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>

            </ul>
        </nav>
    </div>
}


<!--== Car List Area Start ==-->
<div id="blog-page-content" class="section-padding">
    <div class="container">
        <div class="row">

            @{bool LeftSideImage = true;}

            @foreach (var Article in Model)
            {

                if (LeftSideImage)
                {

                    LeftSideImage = false;

                    <!-- Single Articles Start -->

                    <div class="col-lg-12">
                        <article class="single-article">
                            <div class="row">
                                @*Articles Thumbnail Start*@
                                <div class="col-lg-5">
                                    <div class="article-thumb">
                                        <img src="~/img/article/@Article.Images.Where(I => I.Primary == true).Select(I => I.ImageName).FirstOrDefault()" alt="JSOFT">
                                    </div>
                                </div>
                                @*Articles Thumbnail End*@
                                @*Articles Content Start*@
                                <div class="col-lg-7">
                                    <div class="display-table">
                                        <div class="display-table-cell">
                                            <div class="article-body">
                                                @{ int id = Article.ArticleId; }
                                                <h3><a asp-controller="Home" asp-action="Details" asp-route-ArticleId="@Article.ArticleId">@Article.Title</a></h3>
                                                <div class="article-meta">
                                                    <a href="#" class="author">By :: <span>@Article.AuthorAccount</span></a>
                                                    <a href="#" class="commnet">
                                                        comments ::
                                                        <span>
                                                            @if (Article.Comments == null)
                                                            {
                                                                ViewData["CommentCount"] = 0;
                                                            }
                                                            else
                                                            {
                                                                ViewData["CommentCount"] = Article.Comments.Count();
                                                            }
                                                            @ViewData["CommentCount"]
                                                        </span>
                                                    </a>
                                                </div>

                                                <div class="article-date">@Article.Date.Day <span class="month">@Article.Date.ToString("MMM")</span></div>

                                                <p>
                                                    @Article.ShortBody
                                                </p>

                                                <a asp-controller="Home" asp-action="Details" asp-route-ArticleId="@Article.ArticleId" class="readmore-btn">Read More <i class="fa fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*Articles Content End*@
                            </div>
                        </article>
                    </div>

                    <!-- Single Articles End -->

                }
                else
                {

                    LeftSideImage = true;

                    <!-- Single Articles Start -->

                    <div class="col-lg-12">
                        <article class="single-article middle">
                            <div class="row">

                                <!-- articles thumbnail start -->
                                <div class="col-lg-5 d-xl-none">
                                    <div class="article-thumb">
                                        <img src="~/img/article/@Article.Images.Where(I => I.Primary == true).Select(I => I.ImageName).FirstOrDefault()" alt="jsoft">
                                    </div>
                                </div>
                                <!-- articles thumbnail end -->
                                <!-- articles content start -->
                                <div class="col-lg-7">
                                    <div class="display-table">
                                        <div class="display-table-cell">
                                            <div class="article-body">
                                                @{ int id = Article.ArticleId; }
                                                <h3><a asp-controller="Home" asp-action="Details" asp-route-ArticleId="@Article.ArticleId">@Article.Title</a></h3>
                                                <div class="article-meta">
                                                    <a href="#" class="author">by :: <span>@Article.AuthorAccount</span></a>
                                                    <a href="#" class="commnet">
                                                        comments ::
                                                        <span>
                                                            @if (Article.Comments == null)
                                                            {
                                                                ViewData["CommentCount"] = 0;
                                                            }
                                                            else
                                                            {
                                                                ViewData["CommentCount"] = Article.Comments.Count();
                                                            }
                                                            @ViewData["CommentCount"]
                                                        </span>
                                                    </a>
                                                </div>

                                                <div class="article-date">@Article.Date.Day <span class="month">@Article.Date.ToString("MMM")</span></div>

                                                <p>
                                                    @Article.ShortBody
                                                </p>

                                                <a asp-controller="Home" asp-action="Details" asp-route-ArticleId="@Article.ArticleId" class="readmore-btn">read more <i class="fa fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- articles content end -->
                                <!-- articles thumbnail start -->
                                <div class="col-lg-5 d-none d-xl-block">
                                    <div class="article-thumb">
                                        <img src="~/img/article/@Article.Images.Where(I => I.Primary == true).Select(I => I.ImageName).FirstOrDefault()" alt="jsoft">
                                    </div>
                                </div>
                                <!-- articles thumbnail end -->
                            </div>
                        </article>
                    </div>

                    <!-- Single Articles End -->

                }
            }

        </div>

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "PagingColor";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "PagingColor";
        }

        <div class="row">
            <!-- Page Pagination Start -->
            <div class="col-lg-12">
                <div class="page-pagi">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">

                            @{
                                <li class="page-item @prevDisabled"><a class="page-link @prevDisabled" asp-action="Blog" asp-route-pageNumber="@(Model.PageIndex-1)">Previous</a></li>

                                @*
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                *@
                                string activepage = "";
                                if (Model.TotalPage < 5)
                                {
                                    for (var pagecount = 1; pagecount <= Model.TotalPage; pagecount++)
                                    {
                                        activepage = "";
                                        if (pagecount == Model.PageIndex)
                                        {
                                            activepage = "active";
                                        }

                                        <li class="page-item " aria-current="page">
                                            <a class="page-link @activepage" asp-action="Blog" asp-route-pageNumber="@pagecount">
                                                @pagecount
                                            </a>
                                        </li>

                                    }
                                }
                                else
                                {
                                    if (Model.PageIndex == 1)
                                    {
                                        <li class="page-item" aria-current="page">
                                            <a class="page-link PagingColor active">
                                                @Model.PageIndex
                                            </a>
                                        </li>
                                        <li class="page-item" aria-current="page">
                                            <a class="page-link" asp-action="Blog" asp-route-pageNumber="@(Model.PageIndex + 1)">
                                                @(Model.PageIndex + 1)
                                            </a>
                                        </li>
                                        <li class="page-item" aria-current="page">
                                            <a class="page-link">
                                                ...
                                            </a>
                                        </li>
                                        <li class="page-item" aria-current="page">
                                            <a class="page-link" asp-action="Blog" asp-route-pageNumber="@Model.TotalPage">
                                                @Model.TotalPage
                                            </a>
                                        </li>
                                    }
                                    else if (Model.PageIndex == Model.TotalPage)
                                    {
                                        <li class="page-item" aria-current="page">
                                            <a class="page-link" asp-action="Blog" asp-route-pageNumber="1">
                                                1
                                            </a>
                                        </li>
                                        <li class="page-item" aria-current="page">
                                            <a class="page-link">
                                                ...
                                            </a>
                                        </li>
                                        <li class="page-item" aria-current="page">
                                            <a class="page-link" asp-action="Blog" asp-route-pageNumber="@(Model.TotalPage-1)">
                                                @(Model.TotalPage - 1)
                                            </a>
                                        </li>
                                        <li class="page-item" aria-current="page">
                                            <a class="page-link active">
                                                @Model.TotalPage
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item" aria-current="page">
                                            <a class="page-link" asp-action="Blog" asp-route-pageNumber="1">
                                                1
                                            </a>
                                        </li>

                                        @if (Model.PageIndex - 1 != 1)
                                        {
                                            <li class="page-item" aria-current="page">
                                                <a class="page-link">
                                                    ...
                                                </a>
                                            </li>
                                            <li class="page-item" aria-current="page">
                                                <a class="page-link" asp-action="Blog" asp-route-pageNumber="@(Model.PageIndex - 1)">
                                                    @(Model.PageIndex - 1)
                                                </a>
                                            </li>
                                        }
                                        <li class="page-item" aria-current="page">
                                            <a class="page-link active">
                                                @(Model.PageIndex)
                                            </a>
                                        </li>
                                        @if (Model.PageIndex + 1 != Model.TotalPage)
                                        {
                                            <li class="page-item" aria-current="page">
                                                <a class="page-link" asp-action="Blog" asp-route-pageNumber="@(Model.PageIndex + 1)">
                                                    @(Model.PageIndex + 1)
                                                </a>
                                            </li>
                                            <li class="page-item" aria-current="page">
                                                <a class="page-link">
                                                    ...
                                                </a>
                                            </li>
                                        }

                                        <li class="page-item" aria-current="page">
                                            <a class="page-link" asp-action="Blog" asp-route-pageNumber="@(Model.TotalPage)">
                                                @Model.TotalPage
                                            </a>
                                        </li>
                                    }
                                }

                                <li class="page-item"><a asp-action="Blog" asp-route-pageNumber="@(Model.PageIndex+1)" class="page-link @nextDisabled">Next</a></li>
                            }

                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Page Pagination End -->
        </div>
    </div>
</div>
<!--== Car List Area End ==-->
